body{
    background: linear-gradient(180deg,#9292bbab,#140b92);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    padding: 40px;
    align-items: center;
    background-color: beige;
    justify-content: center;
    height: auto;
    width: 320px;
    border-radius: 35px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
}

#container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50%;
}

label, input, button{
    margin: 15px;
}